In [1]:
import random

In [2]:
import pandas
pandas.__version__

'0.23.4'

# Load data

In [3]:
with open("two_letter_state_abbreviations.txt",'r') as lsn:
    list_of_state_abbr=lsn.read().splitlines()

http://nation.wikia.com/wiki/List_of_street_names

In [4]:
with open("list_of_street_names.txt",'r') as lsn:
    list_of_street_names=lsn.read().splitlines()

https://www.ssa.gov/cgi-bin/popularnames.cgi

In [5]:
df=pandas.read_html('ssa_names.html')
type(df)

list

In [6]:
len(df)

1

In [7]:
names_df = df[0]
names_df.columns = list(names_df.loc[0]) # use row 0 as the column names
names_df.drop(0).drop('Rank',axis=1)     # drop the "rank" variable since it's redundant with index

      Male name Female name
1          Liam        Emma
2          Noah      Olivia
3       William         Ava
4         James    Isabella
5         Logan      Sophia
6      Benjamin         Mia
7         Mason   Charlotte
8        Elijah      Amelia
9        Oliver      Evelyn
10        Jacob     Abigail
11        Lucas      Harper
12      Michael       Emily
13    Alexander   Elizabeth
14        Ethan       Avery
15       Daniel       Sofia
16      Matthew        Ella
17        Aiden     Madison
18        Henry    Scarlett
19       Joseph    Victoria
20      Jackson        Aria
21       Samuel       Grace
22    Sebastian       Chloe
23        David      Camila
24       Carter    Penelope
25        Wyatt       Riley
26       Jayden       Layla
27         John     Lillian
28         Owen        Nora
29        Dylan        Zoey
30         Luke        Mila
...         ...         ...
971         Avi    Kristina
972         Ira     Adilynn
973      Ledger    Anabelle
974      Simeon       Egypt
975      Yadiel     Spencer
976      Maddux       Tegan
977      Seamus      Aranza
978         Jad        Vada
979    Jeremias     Emerald
980       Kylen    Florence
981      Rashad     Marlowe
982      Santos       Micah
983      Cedric       Sonia
984       Craig       Sunny
985   Dominique        Tara
986    Gianluca        Riya
987     Jovanni        Yara
988      Bishop       Alisa
989     Brenden    Nathalia
990       Anton    Yamileth
991      Camron      Saanvi
992   Giancarlo      Samira
993        Lyle      Sylvie
994      Alaric      Brenna
995      Decker      Carlee
996     Eliezer       Jenny
997      Ramiro        Miya
998     Yisroel   Monserrat
999      Howard     Zendaya
1000       Jaxx       Alora

[1000 rows x 2 columns]

In [8]:
def generate_random_name():
    if (random.randint(0,1)==0):
        return random.choice(names_df['Male name'])
    else:
        return random.choice(names_df['Female name'])

In [9]:
def create_address():
    address={}
    street_number=str(random.randint(9,100))
    street=random.choice(list_of_street_names)
    address["street addr"]=street_number+" "+street
    address["state"]=random.choice(list_of_state_abbr)
    address["apt number"]="apt "+str(random.randint(9,100))
    address["zip code"]=str(random.randint(9999,100000))
    return address

In [10]:
def generate_random_phone_number(delim):
    city_code_prefix=str(random.randint(99,1000))
    local_code_prefix=str(random.randint(999,10000))
    return city_code_prefix+delim+local_code_prefix

In [11]:
with open('ragged.csv','w') as rcsv:
    rcsv.write("name,phone,address\n")
    for this_row in range(100000):
        csv_delim=","
        address_dict=create_address()
        name=generate_random_name()
        phone=generate_random_phone_number(random.choice(["-"," ","."]))
        dice=random.randint(0,3) # 0,1,2,3
        if (dice==1):
            rcsv.write(name+csv_delim+
                  phone+csv_delim+
                  address_dict['state']+"\n")
        elif (dice==2):
            rcsv.write(name+csv_delim+
                  phone+csv_delim+
                  address_dict['street addr']+csv_delim+
                  address_dict['state']+csv_delim+
                  address_dict['zip code']+"\n")
        elif (dice==3):
            rcsv.write(name+csv_delim+
                  phone+csv_delim+
                  address_dict['state']+csv_delim+
                  address_dict['zip code']+"\n")
        else:
            rcsv.write(name+csv_delim+
                  phone+csv_delim+
                  address_dict['apt number']+csv_delim+              
                  address_dict['street addr']+csv_delim+
                  address_dict['state']+csv_delim+
                  address_dict['zip code']+"\n")